<% content_for(:title, "Artists Home | Concert Collector") %>

<div class="jumbotron">
  <div class="container-fluid">
    <h2>Currently Tracked Artists</h2>
  </div>
</div>

<div class="container">
  <div class="row">
  <%= render('layouts/alerts') %>
    <ul>
      <% @artists.each do |artist| %>
        <h4><%= link_to "#{artist.name}", artist_path(artist.id) %></h4>
        <% end %>
    </ul>
  </div>
</div>
