<% content_for(:title, "Artists Home | Concert Cal") %>

<div class="row">

    <div class="jumbotron">
      <div class="container">
        <h2>Currently Tracked Artists</h2>
      </div>
    </div>

  <div class="container">
    <ul>
      <% @artists.each do |artist| %>
        <h4><%= link_to "#{artist.name}", artist_path(artist.id) %></h4>
        <% end %>
    </ul>
  </div>
</div>
