<% content_for(:title, "Concert Collector | Home") %>

<body class="homepage">
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Welcome to Your Concert Collection</h1>
          </div>
          <h3><a href="/artists">Enter</a></h3>
        </div>
      </div>
    </div>
  </div>
    <div class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted">photo via Sam Klein/flickr</p>
      </div>
    </div>
</body>
