.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}


.intro-message > h1 {
    margin: 0;
    font-weight: 300;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}
