<% content_for(:title, "User Edit | Concert Collector") %>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>Edit User</h1>
    <%= render("layouts/errors", :object => @user) %>
    <%= render 'form' %>
  </div>
</div>
