<% content_for(:title, "New User | Concert Cal") %>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1 class="text-center">Create New User</h1>
    <%= render("layouts/errors", :object => @user) %>
    <%= render 'form' %>
  </div>
</div>
