<% content_for(:title, "#{@user.name} | Concert Cal") %>

<h1>It's <%= @user.name %>, everybody!</h1><br>

<p><%= link_to "Edit User", edit_user_path, class: 'btn btn-primary' %></p>
<p><%= link_to "Delete User", user_path, data: {confirm: "You're about to delete a user... Are you sure?",
                                               method: "delete"},
                                               class: "btn btn-danger" %></p>
